h1{
    color: rgb(235, 125, 35);
    font-weight: 300;
}
.vlok{
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 0 auto;
}
.clok{
    width: 100px;
    height: 100px;
    background-color: black;
}
.wlok{
    width: 100px;
    height: 100px;
    background-color: black;
}
